.card-body {
  padding: 30px !important;
  border: #fff !important;
}

.app {
  background-color: #ffffff !important;
  margin: 30px auto;
  max-width: 700px !important;
  border: #fff !important;
}

a {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 20px;
}

button {
  display: inline !important;
  padding: 15px 5px !important;
  margin: 10px 20px !important;
  min-width: 180px !important;

  border-radius: 20px !important;
}

.Procore {
  text-align: center;
}

h1 {
  margin: 20px auto !important;
  font-size: 30px !important;
}

h2 {
  margin: 20px auto !important;
}

.container {
  margin: 20px auto !important;
  padding: 20px !important;
}

.sage-col {
  text-align: center;
}

.procore-projects {
  background-color: #ff5100;
  border: 1px solid #ff5100;
}
.procore-companies {
  background-color: #ff5100;
  border: 1px solid #ff5100;
}

.procore-cost-codes {
  background-color: #ff5100;
  border: 1px solid #ff5100;
}

.procore-cost-types {
  background-color: #ff5100;
  border: 1px solid #ff5100;
}

.procore-purchase-orders {
  background-color: #ff5100;
  border: 1px solid #ff5100;
}

.procore-orders {
  background-color: #ff5100;
  border: 1px solid #ff5100;
}

.sage-projects {
  background-color: #5fbc42 !important;
  border: 1px solid #5fbc42;
}
.sage-suppliers {
  background-color: #5fbc42;
  border: 1px solid #5fbc42;
}
.sage-project-cost-codes {
  background-color: #5fbc42;
  border: 1px solid #5fbc42;
}

.sage-purchase-orders {
  background-color: #5fbc42;
  border: 1px solid #5fbc42;
}

.link {
  display: block;
  color: black !important;
  font-size: 13px;
  max-width: 130px;
}

.creator {
  font-size: 13px;
}
