.card-body {
  padding: 30px !important;
  border: #fff !important;
}

.app {
  background-color: #ffffff !important;
  margin: 30px auto;
  max-width: 700px !important;
  border: #fff !important;
}

a {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 20px;
}

button {
  display: inline !important;
  padding: 15px 5px !important;
  margin: 10px 20px !important;
  min-width: 180px !important;

  border-radius: 20px !important;
}

.Procore {
  text-align: center;
}

h1 {
  margin: 20px auto !important;
  font-size: 30px !important;
}

h2 {
  margin: 20px auto !important;
}

.container {
  margin: 20px auto !important;
  padding: 20px !important;
}

.sage-col {
  text-align: center;
}

.procore-projects {
  background-color: #a2fb8e;
  border: 1px solid #a2fb8e;
}
.procore-companies {
  background-color: #a2fb8e;
  border: 1px solid #a2fb8e;
}

.procore-cost-codes {
  background-color: #fc2a2a;
  border: 1px solid #fc2a2a;
}

.procore-cost-types {
  background-color: #a2fb8e;
  border: 1px solid #a2fb8e;
}

.procore-purchase-orders {
  background-color: #a2fb8e;
  border: 1px solid #a2fb8e;
}

.procore-orders {
  background-color: #a2fb8e;
  border: 1px solid #a2fb8e;
}

.sage-projects {
  background-color: #a2fb8e !important;
  border: 1px solid #a2fb8e;
}
.sage-customers {
  background-color: #a2fb8e;
  border: 1px solid #a2fb8e;
}
.sage-project-cost-codes {
  background-color: #a2fb8e;
  border: 1px solid #a2fb8e;
}

.sage-purchase-orders {
  background-color: #a2fb8e;
  border: 1px solid #a2fb8e;
}
