a {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 20px;
}

button {
  display: inline !important;
  padding: 15px 5px !important;
  margin: 10px 20px !important;
  min-width: 180px !important;
  background-color: #fffacd;
  border: 1px solid #fffacd;
  border-radius: 20px !important;
}

.Procore {
  text-align: center;
}

h1 {
  margin: 20px auto !important;
  font-size: 30px !important;
}

h2 {
  margin: 20px auto !important;
}

.container {
  margin: 20px auto !important;
  padding: 20px !important;
}

.sage-col {
  text-align: center;
}
